/* Add screen styles below */
a.active {
    font-weight: bold;
}

:root {
    --main-bg: #222;
    --main-bg-alt: #B5B5B5;
    --main-type: #f3f3f3;
    --main-type-alt: #aaa;
    --image-border-radius: 20px;
    --header-border-radius: 40px;
}

header {
    margin: 0px;
    padding: 0 30px;
    display: flex;
    background: var(--main-bg-alt);
}
header h1 {
    color: #222;
}

body {
    /* margin: 0 20%; */
    background: var(--main-bg);
    color: var(--main-type);
    font-family: Helvetica, sans-serif;
}

main {
    margin: 0 20%;
}

#headingTitle h1{
    font-size: 3em;
    margin: 60px 0 40px 0;
    text-align: center;
    padding-bottom: 40px;
}

#hero {
    /* padding-top: 40px; */
}

#hero img {
    float: left;
    width: 300px;
    height: auto;
    margin-right: 40px;
}