/* Add screen styles below */
a.active {
    font-weight: bold;
}

:root {
    --main-bg: #222;
    --main-bg-alt: #B5B5B5;
    --main-type: #f3f3f3;
    --main-type-alt: #aaa;
    --image-border-radius: 20px;
    --header-border-radius: 40px;
}

header {
    margin: 0px;
    padding: 0 30px;
    display: flex;
    background: var(--main-bg-alt);
}

body {
    /* margin: 0 20%; */
    background: var(--main-bg);
    color: var(--main-type);
    font-family: Helvetica, sans-serif;
}

main {
    margin: 0 20%;
}

#headingTitle h2 {
    text-align: center;
}